examples/scheduler/Control scheduler.json
[
    {
        "id": "4d39bd7ab87afe9a",
        "type": "tab",
        "label": "Control scheduler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3407bac2b472b961",
        "type": "comment",
        "z": "4d39bd7ab87afe9a",
        "name": "",
        "info": "# Control scheduler\nDynamically control scheduler node.\n\n## Events\n- enable all events\n- disable all events\n- mixed enabling/disabling\n- toggle all events\n- mixed commands (including `null` for ignoring events)",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "35f6576b95517032",
        "type": "inject",
        "z": "4d39bd7ab87afe9a",
        "name": "enable all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "3ac8cc78ef81d61e"
            ]
        ]
    },
    {
        "id": "6595994a7e3c86c3",
        "type": "inject",
        "z": "4d39bd7ab87afe9a",
        "name": "disable all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "3ac8cc78ef81d61e"
            ]
        ]
    },
    {
        "id": "6c3627d05dc05f50",
        "type": "inject",
        "z": "4d39bd7ab87afe9a",
        "name": "enable/disable some",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[true,true,false]",
        "payloadType": "json",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "3ac8cc78ef81d61e"
            ]
        ]
    },
    {
        "id": "5c66595396731421",
        "type": "inject",
        "z": "4d39bd7ab87afe9a",
        "name": "toggle all",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "toggle",
        "payloadType": "str",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "3ac8cc78ef81d61e"
            ]
        ]
    },
    {
        "id": "c5d839de721175be",
        "type": "inject",
        "z": "4d39bd7ab87afe9a",
        "name": "various commands",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"reload\",null,\"trigger\"]",
        "payloadType": "json",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "3ac8cc78ef81d61e"
            ]
        ]
    },
    {
        "id": "3ac8cc78ef81d61e",
        "type": "chronos-scheduler",
        "z": "4d39bd7ab87afe9a",
        "name": "",
        "config": "5e581578.25c88c",
        "schedule": [
            {
                "trigger": {
                    "type": "time",
                    "value": "20:15",
                    "offset": 0,
                    "random": false
                },
                "output": {
                    "type": "msg",
                    "property": {
                        "name": "payload",
                        "type": "str",
                        "value": "Test"
                    }
                }
            },
            {
                "trigger": {
                    "type": "sun",
                    "value": "sunset",
                    "offset": 0,
                    "random": false
                },
                "output": {
                    "type": "msg",
                    "property": {
                        "name": "payload",
                        "type": "bool",
                        "value": "true"
                    }
                }
            },
            {
                "trigger": {
                    "type": "crontab",
                    "value": "0 * * * *"
                },
                "output": {
                    "type": "msg",
                    "property": {
                        "name": "payload",
                        "type": "str",
                        "value": "Chronos"
                    }
                }
            }
        ],
        "multiPort": false,
        "nextEventPort": false,
        "disabled": false,
        "outputs": 1,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "16fc525479cdad28"
            ]
        ]
    },
    {
        "id": "16fc525479cdad28",
        "type": "debug",
        "z": "4d39bd7ab87afe9a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e581578.25c88c",
        "type": "chronos-config",
        "name": "Berlin",
        "sunPositions": [
            {
                "angle": -4,
                "riseName": "blueHourDawn",
                "setName": "blueHourDusk"
            },
            {
                "angle": -8,
                "riseName": "blueHourDawnBegin",
                "setName": "blueHourDuskEnd"
            }
        ]
    }
]
