examples/state/Passive trigger mode.json
[
    {
        "id": "671609705841dfab",
        "type": "tab",
        "label": "Passive trigger mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04b2823017743f50",
        "type": "comment",
        "z": "671609705841dfab",
        "name": "",
        "info": "# Passive trigger mode\nState node that is configured with two states, one condition and passive trigger mode.\n1. First state with boolean value \"true\" is activated at sunrise.\n2. Second state with boolean value \"false\" is activated at sunset.\n3. State changes happen only on even days.\n5. State node is in passive trigger mode, i.e., it doesn't trigger on its own but is triggered by the external scheduler node.",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "a5513d31a0934bb6",
        "type": "chronos-scheduler",
        "z": "671609705841dfab",
        "name": "",
        "config": "5e581578.25c88c",
        "schedule": [
            {
                "trigger": {
                    "type": "crontab",
                    "value": "* * * * *"
                },
                "output": {
                    "type": "msg",
                    "property": {
                        "name": "topic",
                        "type": "str",
                        "value": "trigger"
                    }
                }
            }
        ],
        "multiPort": false,
        "nextEventPort": false,
        "disabled": false,
        "outputs": 1,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "c2900ff315be9284"
            ]
        ]
    },
    {
        "id": "c2900ff315be9284",
        "type": "chronos-state",
        "z": "671609705841dfab",
        "name": "",
        "config": "5e581578.25c88c",
        "outputValue": "payload",
        "outputType": "msg",
        "states": [
            {
                "trigger": {
                    "type": "sun",
                    "value": "sunrise",
                    "offset": 0,
                    "random": false
                },
                "state": {
                    "type": "bool",
                    "value": "true"
                }
            },
            {
                "trigger": {
                    "type": "sun",
                    "value": "sunset",
                    "offset": 0,
                    "random": false
                },
                "state": {
                    "type": "bool",
                    "value": "false"
                }
            }
        ],
        "conditions": [
            {
                "operator": "days",
                "operands": {
                    "type": "even",
                    "day": "monday",
                    "exclude": false
                }
            }
        ],
        "evaluation": "",
        "evaluationType": "and",
        "outputOnStart": false,
        "outputOnStartDelay": 0.1,
        "passiveMode": true,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "ff49410550fef9fa"
            ]
        ]
    },
    {
        "id": "ff49410550fef9fa",
        "type": "debug",
        "z": "671609705841dfab",
        "name": "state value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e581578.25c88c",
        "type": "chronos-config",
        "name": "Berlin",
        "timezone": "",
        "sunPositions": [
            {
                "angle": -4,
                "riseName": "blueHourDawn",
                "setName": "blueHourDusk"
            },
            {
                "angle": -8,
                "riseName": "blueHourDawnBegin",
                "setName": "blueHourDuskEnd"
            }
        ]
    }
]
