examples/repeat/Advanced repeat.json
[
    {
        "id": "671609705841dfab",
        "type": "tab",
        "label": "Advanced Repeat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04b2823017743f50",
        "type": "comment",
        "z": "671609705841dfab",
        "name": "",
        "info": "# Advanced repeat\nRepeat incoming message based on a cron table every 10 seconds until next message arrives.",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "806dd38711a1c66b",
        "type": "inject",
        "z": "671609705841dfab",
        "name": "input message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Repeat me!",
        "payloadType": "str",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "74acc50dfc65cda1"
            ]
        ]
    },
    {
        "id": "74acc50dfc65cda1",
        "type": "chronos-repeat",
        "z": "671609705841dfab",
        "name": "",
        "config": "5e581578.25c88c",
        "mode": "advanced",
        "interval": 1,
        "intervalUnit": "minutes",
        "crontab": "*/10 * * * * *",
        "expression": "",
        "untilType": "nextMsg",
        "untilValue": "",
        "untilDate": "",
        "untilOffset": 0,
        "untilRandom": false,
        "msgIngress": "forward",
        "preserveCtrlProps": false,
        "ignoreCtrlProps": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "b7863be942c1cd6c"
            ]
        ]
    },
    {
        "id": "b7863be942c1cd6c",
        "type": "debug",
        "z": "671609705841dfab",
        "name": "repeated message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e581578.25c88c",
        "type": "chronos-config",
        "name": "Berlin",
        "timezone": "",
        "sunPositions": [
            {
                "angle": -4,
                "riseName": "blueHourDawn",
                "setName": "blueHourDusk"
            },
            {
                "angle": -8,
                "riseName": "blueHourDawnBegin",
                "setName": "blueHourDuskEnd"
            }
        ]
    }
]
