examples/delay/Delay until.json
[
    {
        "id": "671609705841dfab",
        "type": "tab",
        "label": "Delay Until",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04b2823017743f50",
        "type": "comment",
        "z": "671609705841dfab",
        "name": "",
        "info": "# Delay until a specific point in time\nDelay node which delays each incoming message until end of sunset shifted by a random duration between 0 and 30 minutes is reached.",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "806dd38711a1c66b",
        "type": "inject",
        "z": "671609705841dfab",
        "name": "input message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Delay me until it's dark!",
        "payloadType": "str",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "de4cf16a6fdb2dcd"
            ]
        ]
    },
    {
        "id": "de4cf16a6fdb2dcd",
        "type": "chronos-delay",
        "z": "671609705841dfab",
        "name": "",
        "config": "5e581578.25c88c",
        "delayType": "pointInTime",
        "fixedDuration": "1",
        "fixedDurationUnit": "seconds",
        "randomDuration1": "1",
        "randomDuration2": "5",
        "randomDurationUnit": "seconds",
        "randomizerMillis": false,
        "whenType": "sun",
        "whenValue": "sunset",
        "offset": "30",
        "random": true,
        "customDelayType": "jsonata",
        "customDelayValue": "",
        "preserveCtrlProps": false,
        "ignoreCtrlProps": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "5d54cb26a50d326f"
            ]
        ]
    },
    {
        "id": "5d54cb26a50d326f",
        "type": "debug",
        "z": "671609705841dfab",
        "name": "delayed message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e581578.25c88c",
        "type": "chronos-config",
        "name": "Berlin",
        "timezone": "",
        "sunPositions": [
            {
                "angle": -4,
                "riseName": "blueHourDawn",
                "setName": "blueHourDusk"
            },
            {
                "angle": -8,
                "riseName": "blueHourDawnBegin",
                "setName": "blueHourDuskEnd"
            }
        ]
    }
]
